{% extends 'base.html.twig' %}

{% block title %}Membre {{ member.id }}{% endblock %}

{% block main %}
    <div class="container mt-4">
        <h1 class="text-center" style="color: #008157;">Membre {{ member.id }}</h1>

        <div class="list-group my-4">
            {% for remontoire in member.remontoires %}
                <a href="{{ path('remontoire_show', {'member_id' : member.id, 'remontoire_id':remontoire.id}) }}" class="list-group-item list-group-item-action">
                    Remontoire {{ remontoire.nom }}
                </a>
            {% else %}
                <p class="text-muted">Aucun remontoire trouvé.</p>
            {% endfor %}
        </div>

        <div class="text-center">
            <a href="{{ path('app_remontoire_new', {'id': member.id})}}" class="btn btn-custom-green btn-sm">Ajouter un remontoire</a>
            <a href="{{ path('app_vitrine_index', {'id': member.id}) }}" class="btn btn-custom-grey btn-sm">Afficher les vitrines publiques</a>

            <a href='{{ url }}' class="btn btn-custom-outline btn-sm">Retour</a>
        </div>
    </div>

    <style>
        .btn-custom-green {
            background-color: #008157; /* Vert Rolex */
            color: white;
        }

        .btn-custom-green:hover {
            background-color: #00635D; /* Vert foncé */
            color: white;
        }

        .btn-custom-grey {
            background-color: #d6d8db; /* Gris moyen */
            color: black;
        }

        .btn-custom-grey:hover {
            background-color: #bfc1c3; /* Gris plus foncé */
            color: black;
        }

        .btn-custom-outline {
            border: 1px solid #008157; /* Bordure Vert Rolex */
            color: #008157; /* Texte Vert Rolex */
        }

        .btn-custom-outline:hover {
            background-color: #008157; /* Fond Vert Rolex */
            color: white;
        }
    </style>
{% endblock %}
