{% extends 'base.html.twig' %}

{% block title %}Mes Vitrines{% endblock %}

{% block main %}
    <div class="container mt-4">
        <h1 class="text-center" style="color: #008157;">Mes Vitrines</h1>

        <table class="table table-hover my-4">
            <thead class="table-light">
            <tr>
                <th>Id</th>
                <th>Description</th>
                <th>Publiée</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for vitrine in vitrines %}
                <tr>
                    <td>{{ vitrine.id }}</td>
                    <td>{{ vitrine.description }}</td>
                    <td>{{ vitrine.published ? 'Oui' : 'Non' }}</td>
                    <td>
                        <a href="{{ path('app_vitrine_show', {'id': vitrine.id}) }}" class="btn btn-custom-green btn-sm">Voir</a>
                        <a href="{{ path('app_vitrine_edit', {'id': vitrine.id}) }}" class="btn btn-custom-grey btn-sm">Modifier</a>
                        <a class="btn btn-danger btn-sm">
                            {{ include('vitrine/_delete_form.html.twig') }}
                        </a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="4">Aucune vitrine trouvée</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <div class="text-center">
            <a href="{{ path('app_vitrine_new', {'id': member.id}) }}" class="btn btn-custom-green">Créer une nouvelle vitrine</a>
        </div>
    </div>

    <style>
        .btn-custom-green {
            background-color: #008157; /* Vert Rolex */
            color: white;
        }

        .btn-custom-green:hover {
            background-color: #00635D; /* Vert foncé */
            color: white;
        }

        .btn-custom-grey {
            background-color: #d6d8db; /* Gris moyen */
            color: black;
        }

        .btn-custom-grey:hover {
            background-color: #bfc1c3; /* Gris plus foncé */
            color: black;
        }
    </style>
{% endblock %}
