{% extends 'base.html.twig' %}

{% block title %}Vitrine{% endblock %}

{% block body %}
    <h1>Vitrine</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ vitrine.id }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ vitrine.description }}</td>
            </tr>
            <tr>
                <th>Published</th>
                <td>{{ vitrine.published ? 'Yes' : 'No' }}</td>
            </tr>
            <tr>
                <h2>Montres</h2>
                <ul>
                    {% for montre in vitrine.montres %}
                        <li>
                            <a href="{{ path('app_vitrine_montre_show', {'vitrine_id': vitrine.id, 'montre_id' : montre.id}) }}">{{ montre }}</a>
                        </li>
                    {% endfor %}
                </ul>

            </tr>
        </tbody>
    </table>

    <a href="{{ url }}">Back</a>

    <a href="{{ path('app_vitrine_edit', {'id': vitrine.id}) }}">edit</a>

    {{ include('vitrine/_delete_form.html.twig') }}
{% endblock %}
